<main>
  <div class="container">
    <form class="validate-form" id="myregistryform">
      {{{inputfirstname}}}
      {{{inputsecondname}}}
      {{{inputlogin}}}
      {{{inputemail}}}
      {{{inputpassword}}}
      {{{inputphone}}}
      {{{button}}}
    </form>

  </div>

</main>
