<main>
  <div class="styles.container">
    <form id="registry-form" class="validate-form" >
      {{{inputfirstname}}}
      {{{inputsecondname}}}
      {{{inputlogin}}}
      {{{inputemail}}}
      {{{inputpassword}}}
      {{{inputphone}}}
      {{{button}}}
    </form>
  </div>
  <div id="error"></div>

</main>
