<main>
  <form id="my-auth-form" class={{styles.validate-form}} >
    {{{inputlogin}}}
    {{{inputpassword}}}
    <div class={{styles.button-wrapper}}>
      {{{buttonenter}}}
      {{{buttonregistry}}}
    </div>
  </form>
  <div id="error"></div>
</main>
