<main>
  <div class={{styles.container}}>
    <div class={{styles.avatar-wrapper}}>
      {{#if props.avatar}}
        <img class={{styles.avatar}} src={{props.avatar}} width="450" height="450" alt="">
        {{else}}
        <div class={{styles.avatar}} width="450" height="450">Аватар отсутствует</div>
        {{/if}}
      <form class={{styles.form-wrapper}} id="change-avatar-form">
      <input id="avatar" type="file" name="avatar" accept="image/*">
        {{{buttonavatar}}}
      </form>

    </div>

    <div class={{styles.form-wrapper}}>
      <form class={{styles.form-wrapper}} id="change-registry-form">
        <div class={{styles.inputs}}>
          <div class={{styles.left-inputs}}>
            {{{inputfirstname}}}
            {{{inputlogin}}}
            {{{inputemail}}}
          </div>
          <div class={{styles.right-inputs}}>
            {{{inputsecondname}}}
            {{{inputdisplayname}}}
            {{{inputphone}}}

          </div>

        </div>
        {{{button}}}

      </form>

      <form class={{styles.form-wrapper}} id="change-password-form">
        {{{inputoldpassword}}}
        {{{inputnewpassword}}}
        {{{buttonchangepassword}}}

      </form>
    </div>

  </div>
  <div id="error"></div>
</main>
