<main>
  <div class="chats-container">

    <div class="chats">
      {{{buttonsettings}}}
      {{{buttonlogout}}}
      <div class="new-chat-box">
        <form id="newchat-id" class="new-chat-button" >
          {{{inputnewchat}}}
          {{{buttonnewchat}}}
        </form>
      </div>

      {{{mychat}}}

    </div>
    <div class="message-wrapper">

      {{{mymessage}}}

      <form id="message-form" class="message-form" >
        {{{inputmessage}}}
        {{{button}}}
      </form>

    </div>
    <div id="error"></div>
  </div>
</main>
