<main>
  <div class="chats-container">

    <div class="chats">
      {{{buttonsettings}}}
      {{{buttonlogout}}}
      <div class="new-chat-box">
        <form class="new-chat-button" id="newchat-id">
          {{{inputnewchat}}}
          {{{buttonnewchat}}}
        </form>
      </div>

      {{{mychat}}}

    </div>
    <div class="message-wrapper">

      {{{mymessage}}}

      <form class="message-form" id="message-form">
        {{{inputmessage}}}
        {{{button}}}
      </form>

    </div>
    <div id="error"></div>
  </div>
</main>
